@mixin media-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

body {
  background-color: #747479;
}

.form {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  width: 615px;
  height: 55px;
  transform: skew(-50deg);
  @include media-mobile() {
    padding-left: 0;
    width: fit-content;
    font-size: 14px;
  }

  &__input-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 18px 58px 20px 52px;
    @include media-mobile() {
      padding: 18px 10px 20px 28px;
    }
  }

  &__input {
    border: none;
    transform: skew(50deg);
    min-width: 340px;
    margin-left: -26px;
    font-size: inherit;
    background-color: transparent;
    @include media-mobile() {
      margin-left: 0;
      min-width: 150px;
      width: 150px;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    font-weight: 600;
    margin-left: -20px;
    padding: 4px 46px 6px 46px;
    letter-spacing: 1px;
    background-color: #fe0000;
    border-color: #ffffff;
    text-transform: uppercase;
    z-index: 1;
    @include media-mobile() {
      padding: 4px 40px 6px 40px;
    }
    span {
      display: inline-block;
      transform: skew(50deg);
      color: #ffffff;
      &::before {
        padding-right: 5px;
      }
    }
    @include media-mobile() {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .form,
  .form__input,
  .form__button span {
    transform: none;
  }
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  font-size: 2rem;
  border-radius: 4px;
}
